link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
// Custom styles for this template
link(href='./css/blog-home.css', rel='stylesheet')
.card.mb-4
            |
            if fileUploaded
                .alert.alert-success(role='alert')
                    | Review has succesfully been uploaded !			 
            .card-body
              if authenticated
                h2.card-title Create Review Logged in as #{email}
              else
                h2.card-title Create Review
              |               
              p.card-text
                | Upload your review ! 
              |
              if google_auth_url
                 <a href = "#{google_auth_url}">Authenticate with Google</a>
              else 
                    form(method='POST', action='/reviews/' + email encrypt="multipart/form-data" multiple="multiple")
                        input#myFile(name = 'uploadFile' type='file')
                        if authenticated
                           input(type='submit', value='Upload')
                           br
                           br
                           label(for='reviewName') Review Name
                           input(type='text',id = 'reviewName',value='Enter the name for your review',size = '30', max = '30' required)
                           h5(name = 'email' value = '#{email}') uploading as #{email}
                        |   
                    a.btn.btn-primary(href='#') Start your Review in Editor! &rarr;
                    a.btn.btn-primary(href='/review') Or upload your review from Google Drive ! &rarr;
                    |
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
|     
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js')